
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - STAMP2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/STAMP2023.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared-responsive.css" asp-append-version="true" />
    <style>
        body {
            /* Set the background image */
            background-image: url('./image/shared/BG.png');
            /* Set background size to a smaller value */
            background-size: 1000px auto; /* Adjust the values as needed */
            /* Set background to repeat */
            background-repeat: repeat;
            /* Center the background image */
            background-position: center center;
            /* Set a fixed background attachment */
            background-attachment: fixed;
        }

            
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary header">
            <div class="container-fluid" style="height: 100%; background-color: #e5fbf8; border-radius: 10px;">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img class="logo" src="~/image/shared/stamplogo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-box" id="navbarNavDropdown">
                    <ul class="navbar-nav header-item">
                        <li class="nav-item">
                            <a class="nav-link item" asp-area="" asp-page="/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link item" asp-area="" asp-page="/News">Tin Tức</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link item" asp-area="" asp-page="/About">Về S.T.A.M.P</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link item" asp-area="" asp-page="/Voting">Bình chọn</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link item" asp-area="" asp-page="/Ranking">Xếp hạng</a>
                        </li>
                    </ul>
                </div>

                <div class="login-box" id="navbarNavDropdown">
                    <ul class="navbar-nav header-item">
                        <!-- Nút Đăng nhập -->
                        <li class="nav-item">
                            <button id="login-button" class="login-button">Đăng nhập</button>
                        <!-- 2 nút chức năng -->
                        <li class="nav-item personal-button">
                            <button id="notification-button" class="notification-button">
                                <img class="notify-img" src="~/image/Index/icons/notify.png" alt="">
                            </button>
                            <button id="user-button" class="user-button">
                                 <img class="user-img" src="~/image/Index/icons/user.png" alt="">
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Phần thông tin đăng nhập tài khoản -->
     <div id="custom-form" class="custom-form">
    <form>
    <div class="login-form">
    <h3 class="login-notice">Đăng nhập tài khoản</h3>
    <p class="notice">Bạn cần đăng nhập tài khoản Google của mình để tiếp tục tính năng này<p>
    </div>
    <button class="google-button">
    <span class="google-icon" >Đăng nhập với Google</span>
    </form>
    <button class="close-button" id="close-button" >
        <img src="~/image/Index/icons/close.png" class="close-img">
    </div>
    <!-- Popup thông báo trang cá nhân người dùng -->
  <div class="notify-popup" id="notify-popup" style="display:none">
        <h3 class="notify-title"> Thông báo </h3>
        <div class="notify-content"> Hello Stamp </div>
        <div class="notify-content"> Hello Stamp </div>
        <div class="notify-content"> Hello Stamp </div>
        <div class="notify-content"> Hello Stamp </div>
        <div class="notify-content"> Hello Stamp </div>
        <div class="notify-content"> Hello Stamp </div>
    </div>
    <div class="container-fluid" style="padding: 0px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid" style="background-color: #DEDBDB;">
        <div class="row justify-content-around">
            <div class="col-5 footer-column">
                <p class="footer-column__header">Đoàn - Hội <br />Khoa Công nghệ thông tin kinh doanh</p>
            </div>
            <div class="col-3 footer-column">
                <p class="footer-column__header">Contact</p>
            </div>
            <div class="col-2 footer-column">
                <p class="footer-column__header">Follow</p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-5 footer-column">
                <p class="footer-column__info">Đại học Kinh tế TP. Hồ Chí Minh (UEH)</p>
            </div>
            <div class="col-3 footer-column">
                <p class="footer-column__info"><a href="mailto:doanhoi.bit@ueh.edu.vn" class="" target="_blank">doanhoi.bit@ueh.edu.vn</a></p>
            </div>
            <div class="col-2 footer-column">
                <ul class="footer-column__info">
                    <li><a href="https://www.youtube.com/@@BIT_UEH" class="" target="_blank">Youtube</a></li>
                    <li><a href="https://www.facebook.com/BIT.UEH" class="" target="_blank">Facebook</a></li>
                    <li><a href="https://www.tiktok.com/@@bit.ueh" class="" target="_blank">Tiktok</a></li>
                </ul>
            </div>
        </div>
        <div style="height: 100px"></div>
    </footer>
    <!-- JavaScript thay đổi button đăng nhập thành các nút chức năng khi người dùng đã đăng nhập -->
    <script>
        var loginButton = document.getElementById("login-button");
        var notifyButton = document.getElementById("notification-button");
        var userButton = document.getElementById("user-button");
        // Lấy đường dẫn URL từ cửa sổ trình duyệt
        var currentURL = window.location.href;
        // Tạo đối tượng URL từ đường dẫn URL hiện tại
        var url = new URL(currentURL);
        // Lấy phần path của URL (bao gồm "/HomeUser")
        var path = url.pathname;
        // Tách phần cuối của đường dẫn 
        var pathSegments = path.split('/');
        // Lấy phần cuối của mảng 
        var userURL = pathSegments[pathSegments.length - 1];
        if (userURL === "HomeUser" || userURL === "HomeRanking" || userURL === "HomeRegisterStamp"|| userURL === "HomeRegisterTalkshow") {
            loginButton.style.display="none";
            notifyButton.style.display="block";
            userButton.style.display="block";
        }
        else {
            loginButton.style.display="block";
            notifyButton.style.display="none";
            userButton.style.display="none";
        }
    </script>
    <!-- JavaScript điều khiển form đăng nhập -->
    <script>
        var loginForm=document.getElementById('custom-form');
        var closeButton=document.getElementById('close-button');
        loginButton.addEventListener("click", function() {
            loginForm.style.display = "block";
            document.body.style.overflow = 'hidden'; 
        });
        closeButton.addEventListener("click", function() {
            loginForm.style.display = "none";
            document.body.style.overflow = 'auto'; 
        });
    </script>
    <!-- JavaScript điều khiển popup thông báo -->
    <script>
        var notifyPopup = document.getElementById("notify-popup");
        var isPopupVisible = false;
        var notifyButton = document.getElementById("notification-button");
         notifyButton.addEventListener("click", function() {
            notifyPopup.style.display = "block";
            isPopupVisible = true;
            document.body.style.overflow = 'hidden'; 
        });
        document.addEventListener("click", function(event) {
        if (isPopupVisible && event.target !== notifyPopup && event.target !== notifyButton) {
            notifyPopup.style.display = "none";
            isPopupVisible = false;
            document.body.style.overflow = 'auto'; }});
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>