.banner {
    position: relative;
    height: 760px;
}

#slideshow-container {
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.0;
    transition: opacity 1s linear;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.countdown-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56%;
    max-width: 1200px;
    height: fit-content;
    max-height: 700px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.time-remain{
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 40px;
}

.time-box {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 60px;
}

.countdown-item {
    width: 25%;
    text-align: center;
    word-wrap: break-word;
    top: 50%;
    left: 50%;
}

.countdown-value {
    font-size: 54px;
    font-weight: 600;
}

.countdown-label {
    font-size: 40px;
}


.countdown-button {
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 60%;
    padding: 23px 30px 18px 30px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: var(--blue);
    border: 4px solid var(--blue);
    border-radius: 60px;
    transition: background-color 0.3s ease;
}

.countdown-button:hover {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    color:white;
    cursor: pointer;
}

.introduce {
    background-image: url("../image/Index/introduce.svg");
}

.introduce-content {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
}

.introduce-text {
    max-width: 60%;
    margin-right: 10px;
    font-size: 27px;
    text-align:justify;
}

.introduce-img {
    width: 40%;
}

.award {
    margin-top: 100px;
}

.award_box {
    margin-top: 80px;
    justify-content: space-between;
}

.award_price_box {
    background-color: var(--light-blue);
    opacity: 0.8;
    border-radius: 20px;
    margin-top: 36px;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25)); 
}

.award_price {
    margin: 0;
    color:white;
    text-align: center;
    padding: 33px 45px 27px 45px;
    font-size: 50px;
}

.timeline-img {
    width: 70%;
}

.party-container {
    width: 70%;
    margin: auto;
}

.party-imgs {
    display: flex;
    justify-content: center;
    height: 286px;
    margin-top: 6px;
}

.timeline {
    background-image: url("../image/Index/backgrounds/timeline.png");
    margin-top: 100px;
    background-size: contain;
}

.counterparty {
    background-image: url("../image/Index/counterparty.png");
    background-size: contain;
}

.party-header {
    color: #6EACE3;
}

.party-row {
    justify-content: center;
    margin-top: 40px;
}

.party-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.award-container {
    width: 80%;
    margin: auto;
}