.top-stamps {
    display: flex;
    justify-content: space-around;

    margin-top: 55px;
}

.stamp-box {
    height: 544px;
    border-radius: 10px;
    border: 3px solid #000;
    background: #FFF;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}

.stamp-top-info {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.stamp-name {
    width: 55%;
    margin-left: 5%;
    margin-bottom: 0;

    font-size: 1.55vw;
    font-weight: 600;
    text-align: left;
    font-family: JosefinSans;
}

@media only screen and (max-width: 768px) {
    .stamp-name {
        font-size: 4.7vw;
    }
}

.stamp-author {
    width: 35%;
    font-family: JosefinSans;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .stamp-author {
        font-size: 4.1vw;
    }
}

.info-card {
    padding-top: 10px;
    width: 84%;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    padding-bottom: 20px;
    margin: auto;
}

.info-card:hover {
    cursor: pointer;
}

.stamp {
    width: 70%;
}

.cus-card-title {
    white-space: normal;
    font-size: 24px;
    text-align: left;
}

.cus-card-author {
    font-size: 20px;
    max-width: 50%;
    text-align: left;
    font-weight: 300;
}

.clickable {
    cursor: pointer;
}

.like-btn {
    display: flex;
    justify-content: space-around;

    width: 30%;
    border: none;

    border-radius: 15px;
    background-color: rgb(232, 170, 66);
    padding: 10px;
    z-index: 1;
}

.stt-btn {
    width: 30%;
    display: flex;
    align-items: center;

    border-radius: 15px;
    background: var(--xanh-l, #34A853);
    padding: 10px;
}

.number {
    font-size: 2.0vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .number {
        font-size: 5.5vw;
    }
}

.like-number {
    width: 20%;
    margin: auto 0;
    margin-top: 3px;
}

.like-image {
    width: 22%;
    margin: auto 0;
}

.stt-number {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

#popup {
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    width: 60%;
    min-width: 400px;
    position: fixed;
    background-color: white;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup>.row {
    width: 100%;
    margin: 20px 10px;
}

.popup-img {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-info {
    padding: 30px 0;
}

.popup-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
}

.popup-author {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
}

.popup-describe {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
}

.stamp-top-img-container {
    margin-top: 10px;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contest-container {
    width: 80%;
    padding: 16px 60px 16px 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px !important;
    border: 3px solid #6EACE3 !important;

    display: flex !important;
    justify-content: space-between;
}

.stt-contest-box {
    margin: auto 0;
    width: 7%;
    font-size: 46px;
    font-weight: 700;
    color: #286AA3;
}

.contest-name {
    margin: auto 0;
    width: 42%;
    text-align: center;
    overflow: auto;
    color: #000;
    font-size: 34px;
    font-weight: 500;
}

.contest-author {
    width: 25%;
    margin: auto 0;
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
}

.contest-like-box {
    width: 12%;
    margin: auto 0;
    background-color: #d9d9d9;
    border-radius: 30px;
    font-size: 32px;
}

@media only screen and (max-width: 768px) {
    .contest-like-box {
        width: 15%;
        height: 60%;
        margin: auto 0;
    }
}

@media only screen and (max-width: 768px) {
    .contest-like-number{
        font-size: 3.5vw;
    }
}

#more {
    display: none;
}

.readMoreBtn {
    margin: 0 auto;
    width: 15%;
    height: 4vw;
    background-color: #b8b3b3;
    border-radius: 15px !important;
    border: 2px solid black;
}

@media only screen and (max-width: 768px) {
    .readMoreBtn {
        width: 35%;
        height: 10vw;
    }
}

.readMoreBtnContent {
    margin: auto 0;
    font-size: 1.6vw;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .readMoreBtnContent {
        font-size: 3.5vw;
    }
}
