@page
@model AboutModel
@{
    ViewData["Title"] = "Về S.T.A.M.P";
}
<head>
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/about-responsive.css" asp-append-version="true"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/timing.js"></script>
    <div class="light-light-blue-background container-fluid" style="padding-bottom: 40px">
        <div class="row app__content">
            <div class="col-2">
                <div class="stamp-choose">
                    <ul class="stamp-list">
                        <li class="stamp-item stamp-item--active">
                            <a href="#" class="stamp-item__link blue-color" id="stamp-2023">S.T.A.M.P 2023</a>
                            <ul class="select-part">
                                <li class="select-item">
                                    <a href="#topic" class="select-part__link">Chủ đề</a>
                                </li>
                                <li class="select-item">
                                    <a href="#objective" class="select-part__link">Đối tượng</a>
                                </li>
                                <li class="select-item">
                                    <a href="#rule" class="select-part__link">Thể lệ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="stamp-item">
                            <a href="#" class="stamp-item__link" id="stamp-2022">S.T.A.M.P 2022</a>
                        </li>
                        <li class="stamp-item">
                            <a href="#" class="stamp-item__link" id="stamp-2021">S.T.A.M.P 2021</a>
                        </li>
                    </ul>
                    <script>
                        $("#stamp-2023").on("click", function() {
                            $("#content-2023").removeClass("display-none");
                            $("#content-2022").addClass("display-none");
                            $("#content-2021").addClass("display-none");
                            $("#stamp-2023").addClass("blue-text");
                            $("#stamp-2022").removeClass("blue-text");
                            $("#stamp-2021").removeClass("blue-text");
                        });
                        $("#stamp-2022").on("click", function() {
                            $("#content-2023").addClass("display-none");
                            $("#content-2022").removeClass("display-none");
                            $("#content-2021").addClass("display-none");
                            $("#stamp-2023").removeClass("blue-color");
                            $("#stamp-2022").addClass("blue-color");
                            $("#stamp-2021").removeClass("blue-color");
                            resize_frame();
                        });
                        $("#stamp-2021").on("click", function() {
                            $("#content-2023").addClass("display-none");
                            $("#content-2022").addClass("display-none");
                            $("#content-2021").removeClass("display-none");
                            $("#stamp-2023").removeClass("blue-color");
                            $("#stamp-2022").removeClass("blue-color");
                            $("#stamp-2021").addClass("blue-color");
                            resize_frame();
                        });
                    </script>
                </div>
            </div>
            <div class="col-10">
                <div id="content-2023" class="info">
                    <img src="~/image/shared/stamplogo-big.png" style = "width: 360px"/>
                    <header class="info-header">S.T.A.M.P - STAND TOGETHER AND MAKE PROTECTION</header>
                    <div class="info-part info-introduce">
                        <span class="info-text">Cuộc thi S.T.A.M.P 2023 với chủ đề</span>
                        <span class="info-text blue-color font-weight-500">“S.T.A.M.P - Stand Together And Make Protection”</span>
                        <span class="info-text">
                            được tổ chức nhằm hưởng ứng ngày Quốc tế Bảo vệ tầng Ozone 16/09. Cuộc thi là sân chơi giúp các bạn sinh viên phát huy khả năng sáng tạo vô hạn
                            của bản thân để thiết kế ra những chiếc tem thư hướng về mái nhà xanh của chúng ta. Đồng thời, qua các hoạt động
                            triển lãm, BTC mong muốn sức sống mãnh liệt của nghệ thuật thiết kế tem thư sẽ luôn trường tồn mãi với thời gian và hy
                            vọng, những chiếc tem đặc biệt này sẽ chung tay lan tỏa tinh thần bảo vệ tầng Ozone và bảo vệ môi trường xanh đến
                            tất cả mọi người.
                        </span>
                    </div>
                    <div id="topic">
                        <h2 class="blue-color blur-shadow" style = "margin-top: 100px; padding-top: 20px">CHỦ ĐỀ TÁC PHẨM</h2>
                        <img src="~/image/shared/line.png"/>
                        <div class="light-light-blue-background text-content">
                            <img src="~/image/About/mark.png"/>
                            <span class="info-text italic font-weight-500">Thiết kế tem thư với nội dung liên quan đến tuyên truyền, lan tỏa tinh thần yêu thương, bảo vệ, khẳng định tầm quan trọng, quý báu của thiên nhiên, môi trường và đặc biệt là tầng Ozone.</span>
                        </div>
                    </div>
                    <div id="objective">
                        <h2 class="blue-color blur-shadow" style = "margin-top: 100px; padding-top: 20px">ĐỐI TƯỢNG DỰ THI</h2>
                        <img src="~/image/shared/line.png"/>
                        <ul class="info-text alignleft text-content" style="font-weight: 400">
                            <li>Toàn thể sinh viên hệ Chính quy đang học tại các trường Cao đẳng, Đại học trên địa bàn TP. Hồ Chí Minh.</li>
                            <li>Thí sinh dự thi theo hình thức cá nhân hoặc nhóm 2 – 3 người. Thí sinh có thể dự thi ở cả 02 hình thức trên</li>
                        </ul>
                    </div>
                    <div id="rule">
                        <h2 class="blue-color blur-shadow" style = "margin-top: 100px; padding-top: 20px">THỂ LỆ</h2>
                        <img src="~/image/shared/line.png"/>
                        <div class="container-fluid info-text">
                            <div class="row justify-content-evenly">

                                <div class="col-6 light-light-blue-background">
                                    <div class="rule-title">Hồ sơ tác phẩm</div>
                                    <div class="alignleft padding-rule line-height-30">
                                        <ul>
                                            <li>Con tem: con tem vẽ bằng tay (tô kín màu, gửi file chụp hình sao cho rõ nét) hoặc thiết kế bằng phần mềm đồ hoạ (gửi file gốc hoặc link gốc tác phẩm).</li>
                                            <li>Bản thuyết minh tác phẩm tem, trình bày ngắn gọn, trên một mặt giấy A4, font chữ Times New Roman, cỡ chữ 13</li>
                                            <li>Lưu ý: Tác phẩm chưa đúng quy định sẽ bị loại ở vòng nộp bài nếu thí sinh không gửi lại tác phẩm. Trong trường hợp này, thí sinh không được công nhận tham gia cuộc thi.</li>
                                            <li>
                                                Nếu tác phẩm được vào vòng triển lãm, cần bổ sung thêm 01 video giới thiệu
                                                về tác phẩm dự thi.
                                            </li>
                                        </ul>
                                        <div class="bolder">Về Số lượng tác phẩm dự thi</div>
                                        <ul>
                                            <li>Mỗi cá nhân hoặc mỗi nhóm chỉ đăng ký 01 tác phẩm dự thi đạt yêu cầu của BTC.</li>
                                            <li>Các cá nhân muốn nộp nhiều tác phẩm có thể tham gia dưới hình thức nhiều nhóm.</li>
                                            <li>Với mỗi tác phẩm chưa đúng quy định, BTC sẽ gửi mail thông báo sửa tác phẩm, thí sinh gửi lại tác phẩm hoàn thiện trước khi kết thúc thời gian tổng hợp bài thi.</li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="col-6 light-light-blue-background">
                                    <div class="rule-title">Nội dung tác phẩm</div>
                                    <div class="alignleft padding-rule line-height-30">
                                        <div>Những tác phẩm dự thi đúng quy định sẽ được đưa lên bình chọn trên website cuộc thi.</div>
                                        <ul>
                                            <li>Nội dung chung: Thí sinh thiết kế tem thư với nội dung liên quan đến tuyên truyền, lan tỏa tinh thần yêu thương, bảo vệ, khẳng định tầm quan trọng, quý báu của thiên nhiên, môi trường và đặc biệt là tầng Ozone.</li>
                                            <li>
                                                Thí sinh có thể thiết kế tem ứng với các chủ đề gợi ý sau:
                                                <ul>
                                                    <li>Ý nghĩa của môi trường đối với sự phát triển bền vững và hài hòa giữa con người và tự nhiên;</li>
                                                    <li>Những hình ảnh có liên quan đến tầng Ozone;</li>
                                                    <li>Thực trạng môi trường hiện kì nay (ô nhiễm hay trong lành);</li>
                                                    <li>Nguyên nhân gây nên ô nhiễm môi trường;</li>
                                                    <li>Tác động của môi trường lên đời sống con người;</li>
                                                    <li>Tác động của con người đến môi trường;</li>
                                                    <li>Tái hiện các hoạt động thường ngày có ý nghĩa bảo vệ môi trường;</li>
                                                    <li>Biện pháp bảo vệ môi trường;</li>
                                                    <li>Vai trò của sinh viên trong việc bảo vệ môi trường sống;</li>
                                                    <li>Công nghệ ứng dụng bảo vệ môi trường;</li>
                                                    <li>Các địa danh đóng vai trò quan trọng điều hòa khí hậu (rừng Amazon, ...);</li>
                                                    <li>Tôn vinh các hoạt động bảo vệ môi trường;</li>
                                                    <li>Các đề tài mang tính tuyên truyền một cách cô đọng, nhất quán; màu sắc mới mẻ nhưng phải đơn giản;</li>
                                                    <li>Sự kiện về môi trường trong năm 2023 (cột mốc đáng nhớ, ngày kỉ niệm). Nếu đề tài về ngày kỷ niệm, năm ghi trên tem phải là năm chẵn (50, 55, 60, ... năm).</li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="col-6 light-light-blue-background">
                                    <div class="rule-title">Quy định trình bày tem</div>
                                    <div class="alignleft padding-rule line-height-30">
                                        <ol>
                                            <li>
                                                <strong>Quy định bắt buộc</strong>
                                                <ul>
                                                    <li>Chữ “Việt Nam”</li>
                                                    <li>Chữ “Bưu chính”</li>
                                                    <li>Giá mặt tem</li>
                                                    <li>Tên tác giả, năm phát hành</li>
                                                    <li>Tổng số tem, số thứ tự trong bộ</li>
                                                    <li>Tên con tem</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Thể hiện</strong>
                                                <ul>
                                                    <li>Chữ “Việt Nam” (Viết hoa chữ “V” và chữ “N”) hoặc chữ in hoa “VIỆT NAM”.</li>
                                                    <li>Chữ “Bưu chính” (Viết hoa chữ “B”) hoặc chữ in hoa “BƯU CHÍNH”.</li>
                                                    <li>
                                                        Tên tác giả, năm phát hành:
                                                        <ul>
                                                            <li>Năm phát hành ghi đủ 04 chữ số;</li>
                                                            <li>Bộ tem có 01 tác giả thiết kế: Ghi đầy đủ họ tên, trong đó họ và tên đệm viết tắt bởi những chữ cái đầu tiên và được ngăn cách bởi dấu chấm (VD: Nguyễn Văn An được ghi là N.V.An 2023);</li>
                                                            <li>Bộ tem có 2 – 3 tác giả thiết kế: Chỉ viết tên tác giả, giữa các tên cách nhau bằng dấu gạch ngang (VD: Bình – Cảnh – Diễn 2023).</li>
                                                        </ul>
                                                    </li>
                                                    <li>Tổng số tem thứ tự tem trong bộ: Tổng số tem trong bộ viết trước, thứ tự của tem viết sau, cách nhau bằng gạch nối (VD: bộ tem gồm 02 mẫu sẽ có thứ tự lần lượt là: 2-1 và 2-2).</li>
                                                    <li>Tên con tem: Ngắn gọn thể hiện thông điệp mà tem hướng đến.</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Hình thức:</strong>
                                                <ul>
                                                    <li>Thí sinh có thể lựa chọn thiết kế các loại tem sau:</li>
                                                    <ul>
                                                        <li>Tem khối;</li>
                                                        <li>Tem phổ thông: gồm 01 mẫu 4.000đ;</li>
                                                        <li>Tem bộ: từ 2 - 4 mẫu tem.</li>
                                                        <li>Loại 02 mẫu gồm: 01 mẫu 4.000đ và 01 mẫu 12.000đ;</li>
                                                        <li>Loại 03 mẫu gồm: 02 mẫu 4.000đ và 01 mẫu 12.000đ;</li>
                                                        <li>Loại 04 mẫu gồm: 03 mẫu 4.000đ và 01 mẫu 12.000đ.</li>
                                                    </ul>
                                                    <li>Kích thước tối đa của con tem là kích thước của giấy A4 (210 x 297mm), không quy định hình dáng cụ thể của con tem.</li>
                                                    <li>Con tem có lề hoặc không lề, nhưng đối với tem có lề: Độ rộng lề không nhỏ hơn 0,75cm và không lớn hơn 1,25cm;</li>
                                                    <li>Viền con tem phải có răng cưa.</li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            <div class="col-6 light-light-blue-background">
                                    <div class="rule-title">Một số quy định khác</div>
                                        <div class="alignleft padding-rule line-height-30">
                                        <ol>
                                            <li>
                                                Tác phẩm dự thi không được có những tính chất như:
                                                <ul>
                                                    <li>Hình ảnh nhạy cảm, mang tính chất gợi cảm hoặc phản cảm;</li>
                                                    <li>Hình ảnh hoặc thông điệp liên quan đến chính trị;</li>
                                                    <li>Hình ảnh hoặc thông điệp mang tính kích động;</li>
                                                    <li>Hình ảnh hoặc thông điệp có nội dung kỳ thị hoặc không tôn trọng giới tính, tôn giáo.</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Sản phẩm dự thi phải là sản phẩm chưa từng tham gia và nhận giải thưởng trong các cuộc thi khác, do chính thí sinh sáng tác, không sao chép, sử dụng tác phẩm của người khác để gửi tham gia dự thi.
                                            </li>
                                            <li>
                                                Những tác phẩm có sự sao chép, cắt ghép, sử dụng tác phẩm của người khác để thi hoặc bị phát hiện vi phạm bản quyền sẽ bị hủy tư cách tham dự và trao giải.
                                            </li>
                                            <li>
                                                Thí sinh có tác phẩm dự thi phải chịu trách nhiệm về bản quyền tác phẩm của mình.
                                            </li>
                                            <li>
                                                Tác phẩm phải đạt chuẩn về hình thức, thể hiện và yêu cầu bắt buộc đối với tiêu chuẩn của tem thư.
                                            </li>
                                            <li>
                                                Tác phẩm dự thi sẽ không được hoàn trả, Ban tổ chức cuộc thi được quyền sử dụng sản phẩm để phục vụ công tác tuyên truyền trong sinh viên.
                                            </li>
                                            <li>
                                                Thí sinh dự thi có thể kêu gọi bình chọn cho tác phẩm của mình.
                                            </li>
                                        </ol>
                                        </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timer-box container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <h2 class="time-remain">Thời gian tham gia còn</h2>
                                <div class="row timer flex-row">
                                    <div class="col-3">
                                        <div class="time-number blue-color" id="day"></div>
                                        <span class="time-text">ngày</span>
                                    </div>
                                    <div class="col-3">
                                        <div class="time-number light-blue-color" id="hour"></div>
                                        <span class="time-text">giờ</span>
                                    </div>
                                    <div class="col-3">
                                        <div class="time-number blue-color" id="minute"></div>
                                        <span class="time-text">phút</span>
                                    </div>
                                    <div class="col-3">
                                        <div class="time-number light-blue-color" id="second"></div>
                                        <span class="time-text">giây</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 center">
                                <div class="countdown-button"><span>THAM GIA NGAY</span></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="content-2022" class="info display-none">
                    <img src="~/image/shared/stamplogo-big.png" style="width: 360px"/>
                    <header class="info-header">S.T.A.M.P - SEEK TALENT AND MAKE PASSION</header>
                    <div class="info-part info-introduce">
                        <span class="info-text">
                            S.T.A.M.P 2022 đã quay trở lại với chủ đề
                        </span>
                        <span class="info-text font-weight-500 blue-color">
                            “S.T.A.M.P - Seek talent and Make passion”
                        </span>
                        <span class="info-text">
                             với sứ mệnh giúp sinh viên UEH khám phá và phát triển tài năng thiết kế tem thư, đồng thời hưởng ứng ngày Quốc Khánh Việt Nam 2/9. Đặc biệt trong mùa 2 của cuộc thi, Ban Tổ chức đã nhận được sự hỗ trợ chuyên môn của Hội Tem TP. Hồ Chí Minh nên đã có sự khắt khe hơn về hình thức tiêu chuẩn của từng tác phẩm.
                        </span>
                    </div>
                    <div>
                        <h2 class="blue-color part-margin blur-shadow">TÁC PHẨM NỔI BẬT</h2>
                        <img src="~/image/shared/line.png"/>
                        <div class="container" style="padding-bottom: 40px">
                            <div class="row" style="padding-top: 50px">
                                <div class="col-12">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/18.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">ẨM THỰC</p>
                                        <p class="competitor">Phạm Minh Thắng - Lê Mai Hương</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/22.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">MỪNG NGÀY PHỤ NỮ VIỆT NAM 20/10</p>
                                        <p class="competitor">Đoàn Minh Khoa</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/42.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">THE HEROES</p>
                                        <p class="competitor">Phạm Dương Thị Thúy Truyền</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/09.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">BÁC VÀ SEN</p>
                                        <p class="competitor">Phan Huỳnh Khánh Tâm - Nguyễn Thị Huyền Trang - Nguyễn Thị Thuỳ Trang</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/35.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM TÔI YÊU</p>
                                        <p class="competitor">Trần Huyền Trân - Trần Nữ Hoài Như - Nguyễn Phúc Minh Thuỳ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/04.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">CHẤT VIỆT</p>
                                        <p class="competitor">Nguyễn Hoàng Khánh Nguyên - Phạm Ngân Hà</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/06.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">LỊCH SỬ QUA 4 MÙA</p>
                                        <p class="competitor">Lê Gia Hân - Đặng Trí Thành</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/34.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">NHỮNG ĐÓA HOA BẤT TỬ</p>
                                        <p class="competitor">Hoàng Khánh Nhi - Phan Minh Trí</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/35.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM TÔI YÊU</p>
                                        <p class="competitor">Trần Huyền Trân - Trần Nữ Hoài Như - Nguyễn Phúc Minh Thuỳ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/01.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM QUYẾT THẮNG ĐẠI DỊCH</p>
                                        <p class="competitor">Lê Hải My</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/16.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">THÀNH PHỐ MANG TÊN BÁC</p>
                                        <p class="competitor">Nguyễn Võ Thu Hương - Phạm Xuân Duy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/23.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VỮNG BƯỚC NON SÔNG</p>
                                        <p class="competitor">Đào Bảo Ngọc</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/29.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM KIÊN CƯỜNG</p>
                                        <p class="competitor">Nguyễn Hà An - Nguyễn Thị Trúc Vy - Hồ Thị Kim Vi</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/13.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">AI TRONG CHÚNG TA CŨNG CÓ THỂ TRỞ THÀNH ANH HÙNG</p>
                                        <p class="competitor">Đoàn Minh Khoa</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/35.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM TÔI YÊU</p>
                                        <p class="competitor">Trần Huyền Trân - Trần Nữ Hoài Như - Nguyễn Phúc Minh Thuỳ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/13.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">BỐN CỘT CỜ VIỆT NAM - NƠI HỒI ỨC ĐI CÙNG NĂM THÁNG</p>
                                        <p class="competitor">Đào Nguyễn Trân Châu</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/27.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">TÔI YÊU</p>
                                        <p class="competitor">Nguyễn Duy Tâm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/08.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">THÁC PONGOUR</p>
                                        <p class="competitor">Đào Quang Kiệt - Lê Ngọc Khánh Quỳnh</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2022/26.jpg" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">QUẢNG NGÃI QUÊ TÔI</p>
                                        <p class="competitor">Nguyễn Thị Thúy Hằng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content-2021" class="info display-none">
                    <img src="~/image/shared/stamplogo-big.png" style="width: 360px"/>
                    <header class="info-header">S.T.A.M.P - SPREAD TO A MEANINGFUL PLACE</header>
                    <div class="info-part info-introduce">
                        <span class="info-text">
                            S.T.A.M.P được tổ chức mùa đầu tiên vào năm 2021 - trong thời điểm đại dịch COVID-19 đang diễn ra rất căng thẳng. Nhằm chung tay phòng chống dịch bệnh trên toàn quốc, với chủ đề                                 </span>
                        <span class="info-text font-weight-500 blue-color">
                            “S.T.A.M.P - Spread To A Meaningful Place”
                        </span>
                        <span class="info-text">
                            , cuộc thi đã tạo cơ hội giúp các bạn sinh viên cùng nhau lan tỏa tinh thần đoàn kết dân tộc tạo nên một tập thể vững mạnh. Ngoài ra, cuộc thi cũng giúp các bạn sinh viên khám phá, tìm hiểu về giá trị đích thực của tem thư để từ đó biết giữ gìn và phát huy những giá trị truyền thống tốt đẹp của dân tộc.
                        </span>
                    </div>
                    <div>
                        <h2 class="blue-color part-margin blur-shadow">TÁC PHẨM NỔI BẬT</h2>
                        <img src="~/image/shared/line.png"/>
                        <div class="container" style="padding-bottom: 40px">
                            <div class="row" style="padding-top: 50px">
                                <div class="col-12">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/1.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">MỘT CHÚT HI SINH VÌ HẠNH PHÚC CỦA NGƯỜI DÂN</p>
                                        <p class="competitor">Hồ Thị Kim Vi - Nguyễn Thị Vàng - Nguyễn Uyên Phương</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/2.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">NHỮNG ĐÁM MÂY XANH</p>
                                        <p class="competitor">Nguyễn Hoàng Nhật Hồng Nguyên</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/3.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title" style="margin-bottom: 0">BÌNH YÊN VIỆT NAM</p>
                                        <p class="competitor">Phan Nguyễn Hoàng Trang - Lê Thị Thúy Hồng</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/4.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">CHUNG TAY PHÒNG CHỐNG DỊCH COVID-19</p>
                                        <p class="competitor">Dương Thị Diễm My</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/5.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM CHUNG TAY ĐẨY LÙI DỊCH BỆNH</p>
                                        <p class="competitor">Thái Thùy Diệu</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/6.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">KHỞI NGHĨA BÀ TRIỆU</p>
                                        <p class="competitor">Bùi Quốc Thịnh - Nguyễn Thị Quỳnh Ngọc</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/7.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">VIỆT NAM BƯU CHÍNH</p>
                                        <p class="competitor">Vũ Xuân An - Hồ Nhật Hạnh Vy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/9.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">CẢM ƠN NHỮNG CHIẾN BINH THẦM LẶNG</p>
                                        <p class="competitor">Bùi Thị Tuyết Minh</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/12.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">CHIẾN THẮNG BUÔN MA THUỘT</p>
                                        <p class="competitor">Hồ Hoàng Phúc</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/17.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">THE SOUND OF PEACE</p>
                                        <p class="competitor">Nguyễn Trung Hậu</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/19.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">KỶ NIỆM 76 NĂM QUỐC KHÁNH NƯỚC CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                                        <p class="competitor">Thái Thùy Diệu</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 50px">
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/20.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">BÁI BAI CORONA, KHÔNG TIỄN!</p>
                                        <p class="competitor">Bùi Thị Tuyết Minh</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="submission-box">
                                        <div class="stamp-frame">
                                            <img src="~/image/About/2021/21.png" alt="" class="stamp-img">
                                        </div>
                                        <p class="submission-title">QUYẾT THẮNG COVID</p>
                                        <p class="competitor">Lê Hồng Diểm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>