@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true"/>
</head>

<body>
    <!-- Banner and Countdown -->
    <script src="~/js/navbar.js"></script>
    <script src="~/js/slideshow.js"></script>
    <script src="~/js/timing.js"></script>
    <script>
        window.onload = ()=>{init_slide_show(["./image/shared/banner1.jpg",
        "./image/shared/banner2.jpg", "./image/shared/banner3.jpg"]);};
    </script>
    <div class="">
        <div class="banner">
            <!-- Slideshow container -->
            <div id="slideshow-container"></div>
            <div class="countdown-container">
                <h2 class="time-remain">Thời gian tham gia còn</h2>
                    <div class="time-box">
                        <div class="countdown-item">
                            <span class="blue-color countdown-value" id="day"></span>
                            <span class="countdown-label">ngày</span>
                        </div>
                        <div class="countdown-item">
                            <span class="light-blue-color countdown-value" id="hour"></span>
                            <span class="countdown-label">giờ</span>
                        </div>
                        <div class="countdown-item">
                            <span class="blue-color countdown-value" id="minute"></span>
                            <span class="countdown-label">phút</span>
                        </div>
                        <div class="countdown-item">
                            <span class="light-blue-color countdown-value" id="second"></span>
                            <span class="countdown-label">giây</span>
                        </div>
                    </div>
                    <div class="countdown-button">THAM GIA NGAY</div>
                </div>
            </div>
        </div>
        
        <!-- Add space to separate the countdown section -->
        <div style="padding-bottom:200px"></div>

        <div class="container-fluid introduce text-center">
            <h1 class="blue-color part-margin blur-shadow">GIỚI THIỆU VỀ S.T.A.M.P</h1>
            <img class="line" src="~/image/shared/line.png"/>
            <div class="introduce-content">
                <div class="introduce-text">
                    <span class="blue-color italic font-weight-600 line-height-35">Cuộc thi thiết kế và triển lãm tem thư S.T.A.M.P</span>
                    <span class="font-weight-500 line-height-35">được lấy cảm hứng từ ngày kỷ niệm “Ngày tem Việt Nam” 27/08.
                                Cuộc thi được tổ chức với mục tiêu vừa giúp các bạn sinh viên lan tỏa tình yêu quê hương đất nước thông qua những tác phẩm tem thư
                                vừa giúp các bạn có thêm trải nghiệm thiết kế ra một tác phẩm tem thư hoàn chỉnh và duy trì sức sống trường tồn của tem thư
                    </span>
                </div>
                <img class="introduce-img" src="~/image/shared/stamplogo-big.png" alt="Stamp Image">
            </div>
        </div>

        <div class="award">
            <h1 class="blue-color part-margin blur-shadow">CƠ CẤU GIẢI THƯỞNG</h1>
            <img class="line" src="~/image/shared/line.png"/>
            <div class="award-container">
                <div class="award_box row justify-content-center">
                    <div class="col-6">
                        <div style="min-height: 100px;">
                            <h2 class="blur-shadow">GIẢI NHẤT</h2>
                            <div class="award_price_box">
                                <p class="award_price" style="font-size: 60px">3.000.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="award_box row" style="padding-bottom:10px">
                    <div class="col-5">
                        <div style="min-height: 100px;">
                            <h2 class="blur-shadow">GIẢI NHÌ</h2>
                            <div class="award_price_box">
                                <p class="award_price">2.000.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div style="min-height: 100px;">
                            <h2 class="blur-shadow">GIẢI BA</h2>
                            <div class="award_price_box">
                                <p class="award_price">1.000.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="award_box row" style="padding-bottom:10px">
                    <div class="col-5">
                        <div style="min-height: 100px;">
                            <h2 class="blur-shadow">GIẢI KHUYẾN KHÍCH</h2>
                            <div class="award_price_box">
                                <p class="award_price">500.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div style="min-height: 100px;">
                            <h2 class="blur-shadow">GIẢI YÊU THÍCH</h2>
                            <div class="award_price_box">
                                <p class="award_price">500.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="timeline">
            <h1 class="blue-color part-margin blur-shadow">CÁC MỐC THỜI GIAN</h1>
            <img class="line" src="~/image/shared/line.png"/>
            <div class="">
                <img class="timeline-img" src="~/image/Index/timeline.png" alt="Timeline">
            </div>
        </div>
        
        <div class="counterparty">
            <h1 class="blue-color part-margin blur-shadow">ĐỐI TÁC ĐỒNG HÀNH</h1>
            <img class="line" src="~/image/shared/line.png"/>
            <div class="party-container">
                <div class="party-row row">
                    <h2 class="light-blue-color">ĐƠN VỊ TỔ CHỨC</h2>
                    <div class="party-imgs">
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/large-logo.png"/>
                        </div>
                    </div>
                </div>
                <div class="party-row row">
                    <h2 class="light-blue-color">NHÀ TÀI TRỢ KIM CƯƠNG</h2>
                    <div class="party-imgs">
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/large-logo.png"/>
                        </div>
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/large-logo.png"/>
                        </div>
                    </div>
                </div>
                <div class="party-row row">
                    <h2 class="light-blue-color">NHÀ TÀI TRỢ VÀNG</h2>
                    <div class="party-imgs">
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/medium-logo.png"/>
                        </div>
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/medium-logo.png"/>
                        </div>
                    </div>
                </div>
                <div class="party-row row">
                    <h2 class="light-blue-color">NHÀ TÀI TRỢ ĐỒNG HÀNH</h2>
                    <div class="party-imgs">
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/small-logo.png"/>
                        </div>
                    </div>
                </div>
                <div class="party-row row">
                    <h2 class="light-blue-color">ĐỐI TÁC TRUYỀN THÔNG</h2>
                    <div class="party-imgs">
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/ybox-logo.png"/>
                        </div>
                        <div class="col-5">
                            <img class="party-img" src="~/image/Index/counterparty/ivolunteer-logo.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>