@page
@model VotingModel
@{
    ViewData["Title"] = "Bình Chọn";
}

<header>
    <link rel="stylesheet" href="~/css/voting.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchbar-style.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7871494614.js" crossorigin="anonymous"></script>
</header>

<body>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/slideshow.js"></script>
    <script>
        window.onload = ()=>{init_slide_show(["./image/shared/banner1.jpg",
        "./image/shared/banner2.jpg", "./image/shared/banner3.jpg"]);};
    </script>
    <div class="banner">
        <!-- Slideshow container -->
        <div id="slideshow-container"></div>
        <div class="page-title">
            BÌNH CHỌN
        </div>
    </div>



    @* Search box *@
    <div class="search-box">
        <div class="search">
            <button class="search-btn" onclick="">
                <img class="search-img" src="~/icon/search.png" />
            </button>
            <input type="text" id="trigger" class="search-input" placeholder="Tìm kiếm" />
        </div>
    </div>

    @* Top 20 *@
    <div class="line-bottom">
        <h1 class="blue-color">Top 20</h1>
    </div>
    <div class="container-fluid horizontal-scrollable">
        <div class="row flex-nowrap">
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 1</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 2</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 3</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 4</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 5</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 6</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 7</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 8</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 9</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 10</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 11</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 12</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 13</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 14</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 15</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 16</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 17</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 18</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 container-fluid">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 19</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px;">
                    <div class="submission-box">
                        <div class="stamp-frame">
                            <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                        </div>
                        <h2 class="stamp-name">Tên tác phẩm 20</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @* STAMP 2023 *@
    <div class="line-bottom">
        <h1 class="blue-color">S.T.A.M.P 2023</h1>
    </div>

    <div id="data-container" class="container-fluid"></div>

    @* Chuyển nội dung *@
    <div id="pagination"></div>

    @* Popup *@
    <div id="overlay" class="display-none"></div>
    <div id="popup" class="container display-none">
        <div class="row">
            <div class="col-6 submission-info">
                <p class="title">Tên tác phẩm</p>
                <p class="author">Tên tác giả</p>
                <p class="description">Mô tả tác phẩm</p>
            </div>
            <div class="col-6">
                <div class="stamp-frame">
                    <img src="~/image/shared/stamp.png" alt="" class="stamp-img">
                </div>
                <div class="container">
                    <div class="row justify-content-evenly" style="padding-left: 1%">
                        <div class="col-3 like-btn">
                            <p class="like-number">00</p>
                            <img src="~/icon/like.png" alt="" class="like-icon">
                        </div>
                        <div class="col-3 link-btn">
                            <img src="~/icon/link.png" alt="" class="link-icon">
                        </div>
                        <div class="col-3 facebook-btn">
                            <img src="~/icon/f4.png" alt="" class="facebook-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Popup script *@
    <script>
        const cards = document.getElementsByClassName("submission-box");
        const popup = document.getElementById("popup");
        const body = document.querySelector("body");
        const overlay = document.getElementById("overlay");
        for (var i = 0; i < cards.length; i++) {
            var card = cards[i];
            card.addEventListener("click", function () {
                var stamp = this.getElementsByClassName("stamp-name")[0];
                var title = stamp.innerText;
                popup.classList.remove("display-none");
                var popup_title = popup.getElementsByClassName("title")[0];
                var popup_author = popup.getElementsByClassName("author")[0];
                var popup_description = popup.getElementsByClassName("description")[0];
                var popup_frame = popup.getElementsByClassName("stamp-frame")[0];

                resize_frame();
                popup_title.innerText = title;
                popup_author.innerText = "Tên tác giả của tác phẩm " + title;
                popup_description.innerText = "Mô tả của tác phẩm:\n" + title;
                overlay.classList.remove("display-none");
                body.style.overflow = "hidden";
            })
        };
        overlay.addEventListener("click", function () {
            popup.classList.add("display-none");
            overlay.classList.add("display-none");
            body.style.overflow = "auto";
        });
    </script>

    @* Pagination script *@
    <script>
        @* Viết script tìm tổng số bài thi ở đây. Ở đây đang gán cứng là 300 bài *@
        const total_data_count = 300;
        const item_per_page = 15;
        const page_number = Math.ceil(total_data_count / item_per_page);
        console.log(page_number);
        let current_page = 1;
        let is_loading = false;
        initPagination();
        
        function fetchData(page) {
            if (page ==="...") {
                return;
            }
            if (is_loading) {
                return;
            }
            is_loading = true;

            @* Code để fetch 15 item tương ứng từ database. Ở đây đang giả lập dữ liệu giống với figma *@
            current_page = parseInt(page);
            const data = []
            for (var i=0; i<item_per_page;i++) {
                data.push({"stamp_url": "./image/shared/stamp.png",
                "name": `Tên tác phẩm ${(current_page-1)*item_per_page + i + 1}`});
            }
            @* Kết thúc code fetch *@

            const data_container = document.getElementById("data-container");
            var counter = 0;
            var row = 0;
            var flag = true;
            var temp_container = document.createElement("div");
            var currentScrollPosition = window.scrollY || window.pageYOffset;
            while (flag) {
                let row_element = document.createElement("div");
                row_element.classList.add("row");
                for (var i=0; i < 3; i++) {
                    if (row*3+i===data.length) {
                        flag=false;
                        break;
                    }
                    row_element.innerHTML += `
                    <div class="col-4">
                        <div class="submission-box">
                            <div class="stamp-frame">
                                <img src="${data[row*3 + i].stamp_url}" alt="" class="stamp-img">
                            </div>
                            <h2 class="stamp-name">${data[row*3+i].name}</h2>
                        </div>
                    </div>`
                }
                row_element.style.marginBottom="40px";
                temp_container.appendChild(row_element);
                row += 1;
            }
            data_container.innerHTML = temp_container.innerHTML;
            const cards = data_container.getElementsByClassName("submission-box");
            const popup = document.getElementById("popup");
            const body = document.querySelector("body");
            const overlay = document.getElementById("overlay");
            for (var i = 0; i < cards.length; i++) {
                var card = cards[i];
                card.addEventListener("click", function () {
                    var stamp = this.getElementsByClassName("stamp-name")[0];
                    var title = stamp.innerText;
                    popup.classList.remove("display-none");
                    var popup_title = popup.getElementsByClassName("title")[0];
                    var popup_author = popup.getElementsByClassName("author")[0];
                    var popup_description = popup.getElementsByClassName("description")[0];
                    var popup_frame = popup.getElementsByClassName("stamp-frame")[0];

                    resize_frame();
                    popup_title.innerText = title;
                    popup_author.innerText = "Tên tác giả của tác phẩm " + title;
                    popup_description.innerText = "Mô tả của tác phẩm:\n" + title;
                    overlay.classList.remove("display-none");
                    body.style.overflow = "hidden";
                })
            };
            @* data_container.style.height = null; *@
            resize_frame();
            is_loading = false;
            updatePage();
            window.scrollTo({top: currentScrollPosition, behavior: "instant"});
        }

        function initPagination() {
            const pagination = document.getElementById("pagination");
            pagination.innerHTML = "";
            const prev_btn = document.createElement("div");
            prev_btn.classList.add("pag_btn");
            prev_btn.textContent = "<";
            prev_btn.addEventListener("click", () => {
            if (current_page > 1) {
                fetchData(current_page - 1);
            }
            });
            pagination.appendChild(prev_btn);

            number_btns = document.createElement("div");
            var page_btns = []
            if (page_number <= 7) {
                for (var i = 1; i < 8; i++) {
                    let page_btn = document.createElement("div");
                    page_btn.textContent = i;
                    page_btn.addEventListener("click", ()=>{
                        fetchData(page_btn.textContent);
                    })
                    page_btns.push(page_btn);
                }
            }
            else {
                for (var i = 1; i < 6; i++) {
                    let page_btn = document.createElement("div");
                    page_btn.textContent = i;
                    page_btn.addEventListener("click", ()=>{
                        fetchData(page_btn.textContent);
                    })
                    page_btns.push(page_btn);
                }
                let page_btn_6 = document.createElement("div");
                let page_btn_7 = document.createElement("div");
                page_btn_6.textContent = "...";
                page_btn_7.textContent = page_number;
                page_btn_6.addEventListener("click", ()=>{
                        fetchData(page_btn_6.textContent);
                })
                page_btn_7.addEventListener("click", ()=>{
                        fetchData(page_btn_7.textContent);
                })
                page_btns.push(page_btn_6);
                page_btns.push(page_btn_7);
            }
            for (var i = 0; i < 7; i++) {
                number_btns.appendChild(page_btns[i]);
            }
            
            number_btns.classList.add("number_btns");
            pagination.appendChild(number_btns);

            const next_btn = document.createElement("div");
            next_btn.classList.add("pag_btn");
            next_btn.textContent = ">";
            next_btn.addEventListener("click", (e) => {
                if (current_page < page_number) {
                    fetchData(current_page + 1);
                }
            });
            
            pagination.appendChild(next_btn);
            fetchData(1);
        }

        function updatePage() {
            console.log("updating");
            const pagination = document.getElementById("pagination");
            number_btns = pagination.children[1].children;
            if (current_page <= 4) {
                number_btns[1].textContent = 2;
                number_btns[2].textContent = 3;
                number_btns[3].textContent = 4;
                number_btns[4].textContent = 5;
                number_btns[5].textContent = "...";
            }
            else if (current_page >= page_number - 3) {
                number_btns[1].textContent = "...";
                number_btns[2].textContent = page_number - 4;
                number_btns[3].textContent = page_number - 3;
                number_btns[4].textContent = page_number - 2;
                number_btns[5].textContent = page_number - 1;
            } else {
                number_btns[1].textContent = "...";
                number_btns[2].textContent = current_page - 1;
                number_btns[3].textContent = current_page;
                number_btns[4].textContent = current_page + 1;
                number_btns[5].textContent = "...";
            }
            console.log(current_page);
            for (var i = 0; i < 7; i++) {
                if (current_page === parseInt(number_btns[i].textContent)) {
                    number_btns[i].classList.add("current_btn");
                } else {
                    number_btns[i].classList.remove("current_btn");
                }
                if (number_btns[i].textContent==="...") {
                    number_btns[i].classList.add("disable_btn");
                } else {
                    number_btns[i].classList.remove("disable_btn");
                }
            }
        }
    </script>
</body>
